:root {
	--red: #f00;
	--bg-red: #e44;
	--light-gray: #ddd;

	--card-margin: 10px;
}

.App {
	max-width: 500px;
	margin: 0 auto;
}

.App:not(.App-ready) .card-listing,
.App:not(.App-ready) .card-controls {
	display: none;
}

.error {
	display: none;
}

.error.has-error {
	display: block;
	background-color: var(--bg-red);
	padding: 3px;
	border: solid 1px var(--red);
}