.card {
	padding: 10px;
	background-color: var(--light-gray);
	width: 100%;
}

.card__id,
.card__person {
	text-align: center;
}

.card__id {
	margin-bottom: 10px;
}

.card__person {
	margin-top: 10px;
}

.card__avatar img {
	width: 100%;
	display: block;
}
