.card-listing {
	list-style-type: none;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.list__item {
	width: calc(33% - 10px / 2);
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list__item:nth-child(3n) {
	margin-right: 0;
}
